@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Jost", sans-serif;
}

.bg-card,
.bg-card-regis {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/Views/Asset/image/background.jpg");
}

.bg-card-regis {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.737)),
    url("/Views/Asset/image/background2.jpg");
}

.bg-card input {
  background-color: rgb(2, 0, 20);
  border: 1.5px solid rgb(18, 0, 81);
  color: #fafafa;
}

.bg-card-regis input {
  background-color: #201514;
  border: 1.5px solid #180606;
  color: #fafafa;
}

.bg-card input::placeholder {
  color: rgba(115, 115, 115, 0.558);
  font-size: 0.9rem;
}

.bg-card-regis input::placeholder {
  color: rgba(137, 137, 137, 0.558);
  font-size: 0.9rem;
}

.on {
  display: none !important;
}

.alert-background {
  /* The image used */
  background-color: #111010a2;

  /* Add the blur effect */
  backdrop-filter: blur(5px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transition: ease-in 0.4s;
  display: flex;
  visibility: visible;
}

.alert-background-on {
  /* The image used */
  background-color: #11101000;

  /* Add the blur effect */
  backdrop-filter: blur(0px);

  /* Full height */
  height: 0%;
  width: 0%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transition: ease-in 0.5s;
  visibility: hidden;
}

.alert {
  position: absolute;
  width: 240px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #321818;
  transition: ease-out 0.4s;
}

.alert-on {
  position: absolute;
  width: 240px;
  height: 300px;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #321818;
  transition: ease-in 0.4s;
}

.alert-background {
  /* The image used */
  background-color: #111010a2;

  /* Add the blur effect */
  backdrop-filter: blur(5px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transition: ease-in 0.4s;
  display: flex;
  visibility: visible;
}

.alert-background-on {
  /* The image used */
  background-color: #11101000;

  /* Add the blur effect */
  backdrop-filter: blur(0px);

  /* Full height */
  height: 0%;
  width: 0%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transition: ease-in 0.5s;
  visibility: hidden;
}

.login-alert {
  position: absolute;
  width: 240px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #030712;
  transition: ease-out 0.4s;
}

.login-alert-on {
  position: absolute;
  width: 240px;
  height: 300px;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #030712;
  transition: ease-in 0.4s;
}

.login-alert img,
.login-alert-on img,
.alert-on img,
.alert img {
  width: 161px;
}
